/***************************************************************
  Course Preview Boxes
****************************************************************/

.course-preview {

  padding: 0;
  margin-top: em(50px);
  box-shadow: 0px 0px 4px 1px #888888;

  @include m(image) {
    margin: 0;
    padding: 0;
  }
  @include m(headline) {
    margin: 0;
    margin-top: em(-4px);
    padding: em(30px) em(10px);
    text-align: center;
    background: #EEE;
  }
  @include m(desc) {
    padding: em(10px);
  }

  @include m(info) {
    padding-top: em(10px);
    padding-left: em(10px);
    padding-right: em(10px);
    border-top: 2px solid #EEE;
    @include mq(small) {
      text-align: center;
    }
  }

  @include m(author) {
    font-weight: $font-weight--bold;
    color: $black;
  }

  @include m(price) {
    font-weight: $font-weight--bold;
    color: $color-accent;
  }
}