/***************************************************************
  Images
****************************************************************/

.img--full {
  width: 100%;
  height: auto;
  background: grey;
  @include mq("medium") {
    max-width: 100%;
  }
}